.Component {
  width: 560px;
}

.Component-child {
  padding: 0 28px;
}

@media screen and (max-width: 420px) {
  .Component {
    padding: 14px;
  }
}

@keyframes spin {
  0% {
    width: 14px;
  }

  100% {
    width: 28px;
  }
}